.conk {
	width:202px;
	height:126px;
	border:1px dotted #003366;
	}
	
.divTit {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#003366;
	margin-bottom:20px;
	}
	
.backTab a {
	font-family:Arial, Helvetica, sans-serif;
	color:#0066CC;
	text-decoration:none;
	font-weight:600;
	}
	
.backTab a:hover {
	color:#0099FF;
	}
	
.inpCat {
	width:180px;
	}
	
.td2 select {
	width:350px;
	}
	
#catTable, #tovTable {
	background-color:#D0D7DF;
	border-collapse:collapse;
	}
	
#catTable td {
	border:1px groove #999999;
	text-align:center;
	width:200px;
	}
	
#tovTable td {
	border:1px groove #999999;
	text-align:center;
	}
	
.delSlide {
	width:80px !important;
	}
	
.delSlide a {
	color:#003366;
	font-weight:600;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
	
.delSlide a:hover {
	color:#999966;
	}
	
.trHead {
	background-color:#787878;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:600;
	text-align:center;
	}
	
.titleA {
	text-decoration:none;
	color:#37533F;
	font-weight:500;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	}
	
.titleA:hover {
	color:#990033;
	}
	
.tov_name {
	font-size:12px;
	font-weight:600;
	color:#003366;
	font-family:Arial, Helvetica, sans-serif;
	}
	
.polka {
	border-bottom:2px solid #000000;
	}

	

#saved {position:fixed; right:20px; top:60px; background:#CE4444; text-align:center; padding:20px; color:#fff; text-transform:uppercase; display:none;}